################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/P2P_TicTacToe/.vs/P2P_TicTacToe/config/applicationhost.config


.vs/