################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/P2P_TicTacToe/.vs/P2P_TicTacToe/config/applicationhost.config


.vs/
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/ref/P2P_TicTacToe.dll
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/refint/P2P_TicTacToe.dll
/P2P_TicTacToe/P2P_TicTacToe/bin/Debug/net8.0/P2P_TicTacToe.dll
/P2P_TicTacToe/P2P_TicTacToe/bin/Debug/net8.0/P2P_TicTacToe.exe
/P2P_TicTacToe/P2P_TicTacToe/bin/Debug/net8.0/P2P_TicTacToe.pdb
/P2P_TicTacToe/P2P_TicTacToe/bin/Debug/net8.0/P2P_TicTacToe.staticwebassets.endpoints.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets/msbuild.P2P_TicTacToe.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets/msbuild.P2P_TicTacToe.Microsoft.AspNetCore.StaticWebAssets.props
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets.build.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/P2P_TicTacToe.pdb
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/P2P_TicTacToe.sourcelink.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/P2P_TicTacToe.dll
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/P2P_TicTacToe.AssemblyInfo.cs
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/P2P_TicTacToe.AssemblyInfoInputs.cache
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/apphost.exe
/P2P_TicTacToe/P2P_TicTacToe/bin/Debug/net8.0/P2P_TicTacToe.staticwebassets.runtime.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets.development.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets.pack.json
/P2P_TicTacToe/P2P_TicTacToe/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
